<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="/pictures/sigma.png">
    <title>Strona Główna</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/pictures/sigma.png" alt="logo">
            </a>
        </div>
        
    </header>
    <main>
      <div class="menu">
        <div class="calc">
          <a onclick="window.location.href='/kalkulator'">Kalkulator</a>
        </div>
        <div class="hr">
          <hr>
        </div>
        <div class="func">
          <a onclick="window.location.href='/funkcjakwadratowa'">Funkcja kwadratowa</a>
        </div>
        <div class="hr">
          <hr>
        </div>
        <div class="func">
            <a onclick="window.location.href='/liczbaPierwsza'">Liczba Pierwsza</a>
        </div>
        <div class="hr">
          <hr>
        </div>
      </div>
    </main>
</body>
</html>
