<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="/pictures/sigma.png">
    <title>Strona Główna</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        ::placeholder
        {
            text-align: center;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<header>
    <div class="logo">
        <a href="/">
            <img src="/pictures/sigma.png" alt="logo">
        </a>
    </div>
</header>
<main>
    <div>
        <h1>Kalkulator pola i obwodu</h1>
        <form id="formularz">
            <input type="radio" name="figura" id="kwadrat" value="kwadrat" onchange="showForm('kwadratForm')">
            <label for="kwadrat">Kwadrat</label>
            <input type="radio" name="figura" id="prostokąt" value="prostokąt" onchange="showForm('prostokątForm')">
            <label for="prostokąt">Prostokąt</label>
            <input type="radio" name="figura" id="trapez" value="trapez" onchange="showForm('trapezForm')">
            <label for="trapez">Trapez</label>
            <input type="radio" name="figura" id="kolo" value="kolo" onchange="showForm('koloForm')">
            <label for="kolo">Koło</label>
            <div id="polaForm"></div>
        </form>
    </div>
    <div class="formContainer hidden" id="kwadratForm">
        <form class="form" action="kwadrat" method="post">
            <label aria-hidden="true">Podaj boki kwadratu</label>
            <input class="input" type="number" autocomplete="off" name="boka" placeholder="Podaj bok a" required="">
            <button>Oblicz</button>
        </form>
    </div>
    <div class="formContainer hidden" id="prostokątForm">
        <form class="form" action="prostokąt" method="post">
            <label aria-hidden="true">Podaj boki prostokąta</label>
            <input class="input" type="number" autocomplete="off" name="boka" placeholder="Podaj bok a" required="">
            <input class="input" type="number" autocomplete="off" name="bokb" placeholder="Podaj bok b" required="">
            <button>Oblicz</button>
        </form>
    </div>
    <div class="formContainer hidden" id="trapezForm">
        <form class="form" action="trapez" method="post">
            <label aria-hidden="true">Podaj boki trapezu równoramiennego</label>
            <input class="input" type="number" autocomplete="off" name="boka" placeholder="Podaj bok a" required="">
            <input class="input" type="number" autocomplete="off" name="bokb" placeholder="Podaj bok b" required="">
            <input class="input" type="number" autocomplete="off" name="wysokosc" placeholder="Podaj wysokość" required="">
            <button>Oblicz</button>
        </form>
    </div>
    <div class="formContainer hidden" id="koloForm">
        <form class="form" action="kolo" method="post">
            <label aria-hidden="true">Podaj promień koła</label>
            <input class="input" type="number" autocomplete="off" name="promien" placeholder="Podaj promień" required="">
            <button>Oblicz</button>
        </form>
    </div>
    <div>
        <p th:text="${info}"></p>
    </div>
</main>
<script>
        function showForm(formId) {
            var forms = document.getElementsByClassName("formContainer");
            for (var i = 0; i < forms.length; i++) {
                forms[i].classList.add("hidden");
            }
            document.getElementById(formId).classList.remove("hidden");
        }
    </script>
</body>
</html>
